@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply !text-black !bg-white;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
